body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    font-size: 200%; /* Increased font size by 100% */
}

.quiz-container {
    max-width: 800px; /* Increased from 600px to 800px */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button, label {
    font-size: 30px; /* Set a uniform font size */
}

label, input {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input[type="radio"] {
  opacity: 0;
  z-index: 100;
}

input[type="radio"]:checked+label,
.Checked+label {
  background: yellow;
}

label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
  display: flex;
  align-items: center;
}

label:hover {
  background: #DDD;
}

label::before {
  content: attr(data-number) ". ";
  font-weight: bold;
  margin-right: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust as needed */
    position: relative;
    border-radius: 5px;
}

.modal-content p {
    font-size: 24px; /* Adjust font size for better readability */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 30px; /* Adjust font size as needed */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #0056b3;
}

.modal-content button.close-button { /* Added missing dot */
    outline: none; /* Remove default outline */
}

#restart button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart button:hover {
    background-color: #0056b3;
}

/* Progress Bar Styles */
#progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 25px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background-color: #76c7c0;
    border-radius: 5px;
    transition: width 0.3s ease;
}